.dashboard-header {
  height: 80px;
  width: 100%;
  padding: 0 20px; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
  margin-bottom: 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu-icon {
    display: none; 
    cursor: pointer;
    margin-right: 15px;

    @media (max-width: 768px) {
      display: block; 
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__logo {
    svg {
      width: 120px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 400px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 8rem;

    input {
      flex: 1;
      padding: 12px 16px;
      border: none;
      outline: none;
      font-size: 14px;
    }

    button {
      width: 56px;
      height: 100%;
      border: none;
      background-color: #39cdcc;
      cursor: pointer;
      padding: 13px 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__docs {
    font-size: 14px;
    color: #213f7d;
    text-decoration: underline;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #e5e7eb; 
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: #213f7d;
  }

  &__caret {
    width: 12px;
    height: 12px;
  }

  @media (max-width: 1024px) {
    &__left { gap: 20px; }
    &__search { margin-left: 1rem; width: 250px; }
  }

  @media (max-width: 768px) {
    &__search { display: none; } 
    &__docs, &__name { display: none; } 
    &__right { gap: 1.5rem; }
  }
}
