.sidebar {
  width: 283px;
  background-color: #ffffff;
  height: calc(100vh - 100px); 
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
  padding-top: 30px;
  overflow-y: auto; 

  &__section {
    margin-top: 30px;
    
    &-title {
      padding: 0 30px;
      font-size: 12px;
      font-weight: 500;
      color: #545f7d;
      margin-bottom: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 12px 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-left: 3px solid transparent; // Hidden by default
    color: #213f7d;
    opacity: 0.6;

    &:hover {
      background-color: rgba(57, 205, 204, 0.06);
      opacity: 1;
    }

    &-active {
      background-color: rgba(57, 205, 204, 0.06);
      border-left-color: #39cdcc; // The active teal border
      opacity: 1;
    }

    &-org {
      margin-bottom: 20px;
      opacity: 1;
    }
  }

  &__icon {
    margin-right: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 14px;
    flex: 1;
  }

  &__dropdown-icon {
    font-size: 12px;
  }
}