.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #545F7D;
  font-size: 14px;

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;

    select {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      padding: 7px 12px;
      border: none;
      color: #213F7D;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;

    .nav-btn {
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      padding: 5px 8px;
      border: none;
      cursor: pointer;
      &:disabled { opacity: 0.5; cursor: not-allowed; }

      img {
        width: 8px;
      }
    }

    .page-number {
      cursor: pointer;
      padding: 0 5px;
      &.active { font-weight: bold; color: #213F7D; }
      &:hover { color: #213F7D; }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    &__right {
      width: 100%;
      justify-content: space-between;
    }
  }
}