.user-info-content {
  background: #ffffff;
  padding: 30px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  hr {
    border: none;
    border-top: 1px solid rgba(33, 63, 125, 0.1);
    margin: 30px 0;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }

  .info-section {
    &__title {
      color: #213f7d;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .info-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 30px 20px;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 480px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }

      &-4-cols {
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
          grid-template-columns: 1fr;
        }
      }
    }

    .info-item {
      h5 {
        color: #545f7d;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 8px;
        text-transform: uppercase;
      }
      p {
        color: #545f7d;
        font-size: 16px;
        font-weight: 600;
        word-break: break-all;
      }
    }
  }
}
