.table-container {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 30px;
  overflow-x: auto;

  &__user-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    thead th {
      padding-bottom: 20px;
      font-size: 12px;
      font-weight: 600;
      color: #545f7d;

      .header-content {
        display: flex;
        align-items: center;
        gap: 10px;

        .filter-icon {
          width: 15px;
        }
      }
    }

    tbody tr {
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);

      &:last-child {
        border-bottom: none;
      }
    }

    tbody td {
      padding: 20px 0;
      font-size: 14px;
      color: #545f7d;
      white-space: nowrap;
      padding-right: 15px;

      .more-icon {
        width: 3.5px;
      }
    }
  }

  .status-badge {
    padding: 6px 12px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 400;

    &-inactive {
      background: rgba(84, 95, 125, 0.1);
      color: #545f7d;
    }
    &-pending {
      background: rgba(233, 178, 0, 0.1);
      color: #e9b200;
    }
    &-blacklisted {
      background: rgba(228, 3, 59, 0.1);
      color: #e4033b;
    }
    &-active {
      background: rgba(57, 205, 32, 0.1);
      color: #39cd20;
    }
  }
}
