@use "base/reset";

@use "utils/variables";

@use "base/fonts";
@use "base/global";

@use "layouts/dashboard-layout";

@use "components/dashboard-header";
@use "components/dashboard-sidebar";
@use "components/summary-card";
@use "components/user-table";
@use "components/pagination";
@use "components/user-actions-menu";
@use "components/filter-modal";
@use "components/user-info-content";

@use "pages/login";
@use "pages/users";
@use "pages/user-details-page";
