@import "base/reset";

@import "utils/variables";

@import "base/fonts";
@import "base/global";

@import "layouts/dashboard-layout";

@import "components/dashboard-header";
@import "components/dashboard-sidebar";

@import "pages/login";
@import "pages/dashboard";
