.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &__container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    background-color: #f2f2f2;
    padding: 40px;
    overflow-y: auto;
    height: calc(100vh - 100px);

    @media (max-width: 768px) {
      // padding: 20px;

      padding: 20px 15px;
      height: auto;
      // overflow-y: visible;
    }
  }
}
